main{
    display: flex;
    flex-direction: column;
    color: var(--font-primary);
    width: 50%;
    margin: 0 auto;
}
main section h1{
    font-size: 30px;
}
.contactme section h1 span{
    font-size: 40px;
}

.input-group{
    margin-top: 30px;
}

input, textarea{
    background-color: #5e5e5e33;
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid var(--font-secondary);
    color: var(--font-secondary);
    font-size: 15px;
    margin-top: 10px;
    transition: all 100ms linear;
    
}
input:focus, textarea:focus {
    -webkit-box-shadow: 2px 2px 20px 2px var(--secondary-100); 
    box-shadow: 2px 2px 20px 2px var(--secondary-100);
}
button{
    padding: 10px;
    background-color: #000;
    border: 1px solid var(--font-secondary);
    margin-top: 30px;
    color: var(--font-secondary);
    cursor: pointer;
    font-weight: bold;
}